/*
  Hi Valentine!  I added feedback about your code in CSS comments like this one.

  Overall, fantastic job with this!  Your CSS code is well organized (also thanks to the way you 
  named your classes in the HTML files) and well indented.

  More comments below!  (Although, I really do not have too many comments for your CSS.  It largely
  looks good and functions as it should.)
*/


/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;

  /* 
    I saw that you included the link to the Open Sans Google font in your HTML, but you also 
    need to tell your CSS that you want to use that font here, in the font-family rule.
  */
  font-family: Helvetica, Arial, sans-serif;

  background-size: cover;
  text-align: center;
  /* 
    I did see that there is a ton of white space around the entire page.  This padding rule is why.
    Since you are adding 200px of padding inside of each side of the <body> tag, that means that
    the elements inside of the body tag start and end 200px from the edge of the page.
  */
  padding: 200px;
  
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  text-align: center;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  /* 
    This background-position rule is actually overwriting the positioning you set up in the background
    rule in the line above.  

    The background rule above is setting the position of the background to
    "center top", which means the background is horizontally centered and vertically aligned to the top.

    The background-position rule below is saying that the background is both horizontally and vertically
    centered.

    That being said, putting everything in the background rule (above) can be a little confusing because you can
    have a lot of information in just that one line, which can make it harder to read.  It might be easier to 
    separate out all of the elements like this instead:

      background-image: url('../images/header_bg.jpg');
      background-repeat: no-repeat;
      background-position: center top;
      background-color: rgb(134,141,157);
  */
  background-position: center;
  padding:50px;

}

.whiteTextLogo{
  font-size: 24px;
  font-weight: 800;
  color:white;
  text-align: left;
  padding-left: 100px;
}

h2{
  font-size: 24px;
  font-weight: 600;
  color:white;
  padding:100px;
}


button{
  font-weight: 600;
  font-size: 20px;
  color:#033048;
  text-align: left;
  background: #f9e42e;
  padding:10px;
  margin:30px;
}


.greyBackground{
  background: #f0efef;
  font-weight: 300;
  font-size: 13px;
  padding: 50px;
}

.greyBackground--p{
  color:#606161;
  text-align: left;
}



ul{
  list-style-type: circle;
  color:#606161;
  text-align: left;
}



h3{
  font-size: 20px;
  font-weight:600;
  color: #033048;
  text-align: left;

}

.testimonial{
  text-align: center;
  background-image: url(../images/testimonial_bg.jpg);
  /* 
    Probably a typo, but make sure all of your rules always end with a semi-colon, even if it is the
    last rule in the block.
  */
  padding: 40px
}

.testimonialQuote{
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color:white;
}

.testimonialName{
  font-weight: 600;
  font-size: 18px;
  color:white;
}



.signUp{
  background:#f9e42e; 

}


.signUp--button{
  font-weight: 800;
  font-size: 12px;
  background:#033048;
  color:white;
  height: 10%;
  width:15%;
  text-align: center;
}


footer {
  background: #121212;

}

.twitter{
  margin-right: 10px;
}

.fb{
  margin-left: 10px;
}


.yellowTextLogo{
  font-weight: 800;
  font-size: 24px; 
  color: #f9e42e;
  padding: 10px;
}

.copyright{
  font-weight: 600;
  font-size: 9px;
  color:white;
  padding: 15px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




